<!-- LOADING -->

<app-loading
  *ngIf="loading"
></app-loading>

<!-- ERROR -->

<app-errorstate
  *ngIf="errorMessage && !loading"
></app-errorstate>

<!-- CONTENT -->

<div
  *ngIf="!loading"
  class="max-w-7xl mx-auto px-6 md:px-10 py-6"
>

  <!-- EMPTY STATE -->

  <app-emptystate
    *ngIf="jobs.length === 0 && !errorMessage"
  ></app-emptystate>

  <!-- JOB GRID -->

  <div
    *ngIf="jobs.length > 0"
    class="grid md:grid-cols-2 lg:grid-cols-3 gap-6"
  >

    <div
      *ngFor="let job of jobs"
      class="bg-white border border-gray-200 rounded-2xl p-6 shadow-sm hover:shadow-md transition"
    >

      <p class="text-sm text-emerald-600 font-medium mb-3">
        {{ job.company }}
      </p>

      <h2 class="text-2xl font-semibold text-gray-900 mb-3">
        {{ job.title }}
      </h2>

      <p class="text-gray-600 leading-7 mb-5">
        {{ job.desc }}
      </p>

      <div class="flex items-center justify-between mb-6">

        <span class="text-sm text-gray-500">
          📍 {{ job.location }}
        </span>

      </div>

      <button
        [routerLink]="['/jobs', job._id]"
        class="w-full bg-emerald-600 text-white py-3 rounded-xl hover:bg-emerald-700 transition"
      >
        View Details
      </button>

    </div>

  </div>

</div>